h1{
  text-align: center;
}
.side{
  position: fixed!important;
  /* color: blue!important; */
  /* background-color: aliceblue!important; */
}

.active :active {
  cursor: pointer;
  background-color: white!important;
  color: orange!important;

}

textarea{
  resize: none!important;
}